@charset "UTF-8";

body{
	background-color: azure; /* ========枠外の背景の色======== */
}

#wrap{
	width: 880px; /* ========枠の幅======== */
	margin: 80px auto;  /* ========ブラウザの画面上と枠との距離（右）　autoは左右中央に配置======== */
	padding: 20px 60px;  /* ========枠と文字の一行目との距離（左） 枠から文字までの左右の距離（右）======== */
	background-color: #ffffff; /* ========枠の中の背景の色======== */
        border-style: solid;
        border-width: 1px;
        border-color: navy;
}
/* ========数値の入力する順番…　何かの上の距離の設定 左右の距離の設定 下の距離の設定======== */

li
{
	margin: 20px 0px 20px 0px;
	padding: 0 0 0 10px;
	line-height: 20px;
	border-left: 2px mediumblue solid;
}

a.tag:visited 
{
        color: white;
}

a.tag
{
	color: white;
}

a.tag:hover
{
        background-color: navy;
	color: white;
}

h1
{
        color: navy;
        text-align: center
}

h2
{
        color: navy;
}

table.style1 {
	border-collapse: separate;
        text-align: center
}

td.style2 {
	background-color: deepskyblue;
	text-align: center;
	color: white;
	font-size: large;
        border-style: solid;
        border-width: medium;
        border-color: navy;
}

td.style3 {
	background-color: navy;
	text-align: center;
	color: white;
	font-size: large;
        border-style: solid;
        border-width: medium;
        border-color: navy;
}

span.style5 {
	color: white;
}

h2#differentcolor {color:mediumblue;}

p.underline {
text-decoration:underline; /* ========下線を引く======== */
text-decoration-color:mediumblue; /* ========下線の色======== */
}
